
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h1>iletisim</h1>

İletişim Bilgileri

<p>Eğer bizimle iletişime geçmek isterseniz, lütfen aşağıdaki bilgileri kullanın. Size en kısa sürede yanıt vereceğiz.</p>

<p>Adres: Kuş Mah. Mecidiyeköy Yolu Cad. Trump Towers Kule 2 Şişli/İstanbul</p>
<p>Telefon: 0850 252 01 01 (Çağrı Merkezi)</p>
<p>E-posta: info@evdekinisat.com</p>

