
@{
    ViewData["Title"] = "Faq";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<header>
    <h4>Sıkça Sorulan Sorular (SSS)</h4>
</header>

<section>
    <h4>1. Ürünlerin Durumu Nedir?</h4>
    <p>Sitemizdeki tüm ürünlerin durumu açıkça belirtilir. İkinci el ürünlerin genel durumu "Kullanılmış", "Yeni Gibi" veya "Yenilenmiş" gibi kategorilere ayrılır. Satıcılar ürünlerinin durumu hakkında detaylı açıklamalar yaparlar ve ürün fotoğrafları sunarlar.</p>
</section>

<section>
    <h4>Nasıl Bir Güvenlik Politikası İzliyorsunuz?</h4>
    <p>Kullanıcılarımızın güvenliğini önemsiyoruz. Satıcıların ve alıcıların kimlik doğrulaması yapması gereklidir. Ayrıca güvenli ödeme seçenekleri sunarız ve herhangi bir şüpheli aktiviteyi izlemek için önlemler alırız.</p>
</section>
<section>
    <h4>Ürün Fiyatları Sabit mi?</h4>
    <p>Ürün fiyatları satıcılara bağlıdır ve değişebilir. Farklı satıcılar farklı fiyatlar sunabilirler. Sitemizdeki fiyatlar rekabetçi olup, kullanıcılar arasında adil bir pazar oluşturmak için çeşitlilik gösterir.</p>
</section>

<section>
    <h4>Nasıl Bir Satıcı Olabilirim?</h4>
    <p>Satıcı olmak için sitemize üye olmalı ve ürünlerinizi eklemelisiniz. Ürünlerinizin detaylı açıklamalarını ve fotoğraflarını eklemek önemlidir. Satışlarınızı yönetmek ve iletişim kurmak için kullanıcı hesabınızı kullanabilirsiniz.</p>
</section>

