
@{
    ViewData["Title"] = "Hakkimizda";

    Layout = "_LayoutBase";
        
}



<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>

    </header>

    <section>
        <h4>Biz Kimiz</h4>
        <p>Merhaba! Biz, <b>evdekinisat.com</b> olarak ikinci el ürünlerin yeni sahiplerini bulmasına yardımcı olan bir platformuz. Şirketimiz, insanların kullanılmış eşyalarını satmak, almak ve takas etmek için güvenilir bir çevrimiçi ortam sunar.</p>
    </section>

    <section>
        <h4>Vizyonumuz</h4>
        <p>Vizyonumuz, insanların ikinci el ürünleri daha kolay ve güvenli bir şekilde alıp satmalarına yardımcı olmaktır. Hem ekonomik hem de çevresel açıdan sürdürülebilir bir alışveriş kültürü yaratmayı hedefliyoruz. Bu sayede, hem alıcılar hem de satıcılar için kazan-kazan bir deneyim sunuyoruz.</p>
    </section>
    <section>
        <h4>Değerlerimiz</h4>
        <ul>
            

            <li>
                <p><b>Dürüstlük ve Şeffaflık:</b> Müşterilerimize ve kullanıcılarımıza karşı dürüst ve şeffaf olmak, ilişkilerimizin temel taşıdır. Herhangi bir işlemde şeffaflığı teşvik ediyor, bilgi saklama veya yanıltıcı uygulamalara izin vermiyoruz.</p>
            </li>
            <li>
                <p>
                    <b>
                    Güvenilirlik:
                    </b> Kullanıcılarımıza güvenilir bir platform sunmayı taahhüt ediyoruz. Ürünlerin durumu, satıcı geçmişi ve kullanıcı yorumları gibi bilgilere kolayca erişim sağlayarak güvenilir alışverişin önünü açıyoruz.
                </p>
            </li>
            <li>
                <p>
                <b>
                    Müşteri Memnuniyeti:
                </b> Kullanıcılarımızın memnuniyeti her şeyden önemlidir. Sorularınıza hızlı yanıt vermek, işlemlerin sorunsuz bir şekilde gerçekleşmesini sağlamak ve gerektiğinde yardımcı olmak için buradayız.</p>
            </li>
            <li>
                <p>
                <b>
                    Sürdürülebilirlik:
                </b> İkinci el ürünlerin alım satımını teşvik ederek çevresel sürdürülebilirliğe katkıda bulunuyoruz. Yeniden kullanım ve geri dönüşümün önemini vurguluyor ve sürdürülebilir alışveriş alışkanlıkları oluşturmaya destek oluyoruz.</p>
            </li>
            <li><p>
                <b>
                    Toplumsal Sorumluluk:
                </b> Toplumumuzu daha iyi bir yer haline getirmek için çaba gösteriyoruz. Kullanılmış eşyaların paylaşılması ve ikinci el alışverişin teşvik edilmesi, kaynakların daha verimli kullanılmasına yardımcı olurken toplumumuza da katkı sağlar. </p>
        </ul>
    </section>

    <footer>

    </footer>
</body>
</html>

