@using evdekinisatcom.MvcWebApp.Entity.ViewModels;
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Şifre Değiştir";

    Layout = "_LayoutBase";

}

<h2>@ViewData["Title"]</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<div class="text-center row">
    <div class="col-md-6">
        <form asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label asp-for="OldPassword">Mevcut Şifre</label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Yeni Şifre</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword">Yeni Şifre (Tekrar)</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-solid">Şifreyi Değiştir</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


