@{
    ViewData["Title"] = "Şifre Başarıyla Değiştirildi";   
    Layout = "_LayoutBase";

}

<div class="text-center container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Şifre Başarıyla Değiştirildi</h2>
            <p>Şifreniz başarıyla güncellendi. Yeni şifrenizle giriş yapabilirsiniz.</p>
            <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Giriş Sayfasına Dön</a>
        </div>
    </div>
</div>

