@using evdekinisatcom.MvcWebApp.Entity.ViewModels;
@model WithdrawViewModel
@{
    ViewData["Title"] = "Withdraw";
    Layout = "_LayoutBase";
}

<h2>Bakiye Çek</h2>

<form asp-action="Withdraw" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Amount">Çekilecek Miktar</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RecipientName">Alıcı Adı Soyadı</label>
        <input asp-for="RecipientName" class="form-control" />
        <span asp-validation-for="RecipientName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IBAN">IBAN</label>
        <input asp-for="IBAN" class="form-control" />
        <span asp-validation-for="IBAN" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-solid">Çek</button>
</form>
