@model List<ProductViewModel>


    @foreach (var urun in Model)
    {
        <div class="product-box">
            <div class="img-wrapper">
                <div class="front">
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@urun.Id">
                        <img src="@urun.HeaderImageUrl"
                             class="img-fluid blur-up lazyload bg-img"
                             alt="">
                    </a>
                </div>                
            </div>
            <div class="details-product">
                <a asp-action="Details" asp-controller="Product" asp-route-id="@urun.Id">
                    <h6>@urun.Title</h6>
                </a>
                <h4>₺@urun.Price</h4>
            </div>

        </div>
    }
