@model List<CategoryViewModel>


@foreach (var category in Model.Where(c => c.ParentCategoryId == 1))
{
    @if (category.Id != 1)
    {
        <li>
            <a href="@Url.Action("Index", "Products", new { categoryId = category.Id })">@category.Name</a>

            <ul>
                @foreach (var subCategory in Model)
                {
                    @if (category.Id == subCategory.ParentCategoryId)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Products", new { categoryId = subCategory.Id })">
                                @subCategory.Name
                            </a>
                        </li>
                    }
                }
            </ul>

        </li>
    }
}


















